.map-container{
    display: flex;
}
.text{
    margin: 50px 150px 20px 0px;
    text-align: center;
}
.incre{
    width: 20px;
    margin-left: 5px;
   }
   .heading{
    padding: 20px;
    font-style: bold;
   }
   .border{
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
   
   }
   .effect{
    border: 1px solid #ff80aa;
    font-size: 15px;
   }
   .effect:hover{
    background-color: #ff80aa;
    color: white;
    
   }

   .margin{
    margin-bottom: 10px;
   }
   
   @media (max-width:479px){

    .main-img{
        width: 100%;
    }
   .heading{
    text-align: center;
   }
   .map-container{
    width: 100%;
    display: block;
   }
   .map{
    width: 100%;

   }
   .text{
    width: 300px;
    margin: 10px auto;
    text-align: center;
   }
 }