
.card1{
    margin: 20px;
}
.card-img{
    height: 250px;

}
.btn{
  background-color: #ff80aa;
  border: none;
  margin-top: 20px;
}
.btn:hover{
    background-color: #af1347;
   
}
.img_chnager1{
    color: #000;
}

.img_chnager1:hover{
   color: #910e39bc;
   font-size: 17px;
   font-weight: 700;
  
}
.img_chnager2:hover{
    color:#eb0000;
     font-size: 17px;
    font-weight: 700;
   
}
.img_chnager3:hover{
    color:#ea38a9;
    font-size: 17px;
    font-weight: 700;
  
}
.img_chnager4:hover{
    
    color:#8e2323;
    font-size: 17px;
    font-weight: 700;
   
}

.incre{
 width: 20px;
}

.img_chnager5:hover{
    color: #3e2001;
    font-size: 17px;
    font-weight: 700;
   
 }
 .img_chnager6:hover{
    color: #3e2001;
     font-size: 17px;
     font-weight: 700;
    
 }
 .img_chnager7:hover{
    color: #3e2001;
     font-size: 17px;
     font-weight: 700;
   
 }
 .img_chnager8:hover{
     
    color: #3e2001;
     font-size: 17px;
     font-weight: 700;
    
 }


 .img_chnager9:hover{
    color: #40b5ef;
    font-size: 17px;
    font-weight: 700;
   
 }
 .img_chnager10:hover{
     color:#dd8614;
     font-size: 17px;
     font-weight: 700;
    
 }
 .img_chnager11:hover{
     color:#ec20b9;
     font-size: 17px;
     font-weight: 700;
   
 }
 .img_chnager12:hover{
     
     color:#48c825;
     font-size: 17px;
     font-weight: 700;
    
 }

 .img_chnager13:hover{
    color: #99e44e;
    font-size: 17px;
    font-weight: 700;
   
 }
 .img_chnager14:hover{
     color:#99e44e;
     font-size: 17px;
     font-weight: 700;
    
 }
 .img_chnager15:hover{
     color:#99e44e;
     font-size: 17px;
     font-weight: 700;
   
 }
 .img_chnager16:hover{
     
     color:#99e44e;
     font-size: 17px;
     font-weight: 700;
    
 }

 .img_chnager17:hover{
    color: #570c8c;
    font-size: 17px;
    font-weight: 700;
   
 }
 .img_chnager18:hover{
     color:#570c8c;
     font-size: 17px;
     font-weight: 700;
    
 }
 .img_chnager19:hover{
     color:#570c8c;
     font-size: 17px;
     font-weight: 700;
   
 }
 .img_chnager20:hover{
     
     color:#570c8c;
     font-size: 17px;
     font-weight: 700;
    
 }

 .img_chnager21:hover{
    color: #700f1f;
    font-size: 17px;
    font-weight: 700;
   
 }
 .img_chnager22:hover{
     color:#f97e7e;
     font-size: 17px;
     font-weight: 700;
    
 }
 .img_chnager23:hover{
     color:#cac0bb;
     font-size: 17px;
     font-weight: 700;
   
 }
 .img_chnager24:hover{
     
     color:#b73b4c;
     font-size: 17px;
     font-weight: 700;
    
 }